module.exports = {
	mysql: {
		host: "",
		user: "",
		password: "",
		database: "",
		multipleStatements:true
	},
	miner: {
		coinhive: {
			secret_key:"",

		},
		nicehash: {
			address:""
		},
		fee: 0.0
	},
	api_key: ""
}